<div class="main-container" [@fade]>

    <div class="middle" [@fade]>

        <div class="middle-container-about-me-info-section" [@fade]>

                <h1>About me</h1>
                <p>
                    Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                    It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                    There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                    Whatever your needs, we've got you covered.
                    Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                    It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                    There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                    Whatever your needs, we've got you covered.
                    Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                    It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                    There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                    Whatever your needs, we've got you covered.
                    Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                    It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                    There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                    Whatever your needs, we've got you covered.
                </p>

                <button class="submit-btn" mat-raised-button color="primary" (click)="settingsPopUp()">Create an account</button>
        </div>

        <div class="middle-container-2" [@fade]>
            
        </div>

    </div>
    

</div>
