<div class="main-container" [@fade]>

    <div class="middle" [@fade]>

        <div class="middle-container-about-me-info-section" [@fade]>

                <h1>About me</h1>
                <p>
                    My name is Gareth Sanashee and I am the creator of The Hybrid Training Programs.
                    Over the past 19 years I have tested my mind and body through professional football academies,
                    body building, and endurance events. 
                    I earned a Bachelor of Science Degree in Sport Management in 2014 at the University of Chichester where I represented football first team as well as taking on bodybuilding and running events.
                    After university I went on to become a personal trainer at one of the most exclusive gym's in the world based in London.
                    Through my football career, time at university and working as a personal trainer, I had the great honour to learn from the best sport coach's in the world. As well as aquiring all this knowledge I have also had long enough time to test these strategies in order to find what is best to reach your desired fitness goals.
                    Today my training is a combination of resistance training, metabolic conditioning and endurance training. I enjoy lifting heavy weights while focusing on power performance, including a lot of hypertrophy to stimulate muscle growth and also a heavy dose of cardiovascular training.
                    The Hybrid Plan was created to combine all my favourite training style's that fast track to your fitness goals.
                </p>

                <button class="submit-btn" mat-raised-button color="primary" (click)="settingsPopUp()">Create an account</button>
        </div>

        <div class="middle-container-2" [@fade]>
            
        </div>

    </div>
    

</div>
