@import '~@angular/material/theming';
@import '~../../theme.scss';

.container-register{
    .heading-close{
        float:right;
      }
}


.form-parent {
  margin: 0% auto;
  width: 100%;
  mat-form-field, .submit-btn, hr, .extra-question-wrapper, mat-label {
    width: 100%;
  }

  h1{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
  }

  mat-label {
    display: block;
    text-align: center;
  }
 
  mat-radio-group, .checkbox-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px 20px 0px;

    mat-radio-button:not(:first-child), mat-checkbox:not(:first-child) {
      margin-left: 30px;
    }
  }

  .register-heading{
    margin-top: 20px;
  }

  // line under log in button 
  hr{
    margin-top: 20px;
  }

  .log-in-btn{
    margin-bottom: 20px;
  }

  // inout field background colours for poll heading and poll question 
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: $background-color;
  }

}

// text colour 
mat-form-field.mat-form-field {
  color: $primary-main;
}

// border - colour 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:$light-black-background;
}

// focused border color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $accent-main;
}

@media (min-width: 768px) {
  .form-parent {
    width: 80%;
  }
}

@media (min-width: 1024px) { 
  .form-parent {
    width: 50%;
  }
 
}

