<div class="container-register">
    <button mat-icon-button [mat-dialog-close]="true" class="heading-close">
        <mat-icon>close</mat-icon>
    </button>
    <form [formGroup]="loginForm">
        <div class="form-parent">
            <h1>Create an account - Get a free program</h1>
            <label class="error">{{errorMessage}}</label>

            <mat-label>Name</mat-label>
            <mat-form-field appearance="outline">
                <!--<mat-label>Email address</mat-label>-->
                    <input matInput type="text" formControlName="name" #name required>
            </mat-form-field>

            <mat-label>Email address</mat-label>
            <mat-form-field appearance="outline">
                <!--<mat-label>Email address</mat-label>-->
                    <input matInput type="email" formControlName="email" #email required>
            </mat-form-field>

            <mat-label>Password</mat-label>
            <mat-form-field appearance="outline">
                <!--<mat-label>Password</mat-label>-->
                    <input matInput type="password" formControlName="password" #password required>
            </mat-form-field>

            <mat-label>Confirm password</mat-label>
            <mat-form-field appearance="outline">
                <!--<mat-label>Password</mat-label>-->
                    <input matInput type="password" formControlName="confirmPassword" #confirmPassword required>
            </mat-form-field>

            <button (click)="signUp(name.value, email.value, password.value, confirmPassword.value)" mat-flat-button class="submit-btn register-now-btn" color="primary">Register</button>
            <div *ngIf="awaitingSignUp">Waiting...</div>
            <div class="error-credentials" *ngIf="signUpError">{{signUpError}}</div>

        </div>
    </form>  
</div>

