

<div class="main-container">

    <div class="header">
        <button mat-icon-button [mat-dialog-close]="true" class="heading-close">
            <mat-icon>close</mat-icon>
        </button>
    </div>


    <div class="video-container">

        <div class="video-container-heading">
            <iframe class="vimeo-iframe" [src]="safeUrl" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> 
        </div>

        <div class="video-container-video">

            <h1>Exercise information</h1>

            <h2>Exercise: {{exerciseName}}</h2>

            <h3>Number of repetitions: {{repetitions}}</h3>

            <h3>Number of sets: {{sets}}</h3>

            <h3>Rest between each set: {{restTime}}</h3>

            <h2>Key information</h2>
            <h3>{{keyInfo}}</h3>
            
        </div>

    </div>

</div>
