<div class="main-container">

    

    <div class="middle" [@fade]>

        <mat-card class="middle-container-1 mat-elevation-z0 outline">
            
            <h1>What is a Hybrid athlete?</h1>
            
            <p>
                Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                Whatever your needs, we've got you covered.
                Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                Whatever your needs, we've got you covered.
            </p>

            <button class="create-account-btn submit-btn" mat-raised-button color="primary" (click)="settingsPopUp()">Create an account</button>

            
        </mat-card>

        <div class="middle-container-2">
            <mat-card class="advanced-program mat-elevation-z0 outline">

                <h1>Advanced Training Plan</h1>
                <p>
                    Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                    It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                    There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                    Whatever your needs, we've got you covered.
                </p>

            </mat-card>
            <mat-card class="begginner-program mat-elevation-z0 outline">

                <h1>Begginer Training Plan</h1>
                <p>
                    Just look at the preparation that Conor puts in... those notes are a thing of beauty.
                    It would almost be rude for you not to tune in. Hit the audio icon at the top of the page to listen to Conor alongside Wales women boss Jayne Ludlow.
                    There's also the option to listen to commentary BBC Radio Wales, BBC Sussex and BBC Radio Cmyru.
                    Whatever your needs, we've got you covered.
                </p>

            </mat-card>
        </div>

    </div>

    

</div>
  