<div class="grid-container">

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button (click)="squatDemo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button (click)="benchPressDemo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button (click)="openVideo()">Key info</button>
        </div>

      </div>

      <button mat-flat-button class="submit-btn completed" (click)="updateWorkout(0, 0, true)">Completed</button>
      <button mat-flat-button class="submit-btn missed-session" color="warn" (click)="updateWorkout(0, 0, false)">Missed Session</button>

    </mat-card-content>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <button mat-flat-button class="submit-btn completed" (click)="updateWorkout(1, 1, true)">Completed</button>
      <button mat-flat-button class="submit-btn missed-session" color="warn" (click)="updateWorkout(1, 1, false)">Missed Session</button>

    </mat-card-content>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

  <mat-card class="grid-item mat-elevation-z0 outline">

    <mat-card-header>
      <mat-card-title style="font-weight: bold;">DAY ONE</mat-card-title>
      <mat-card-title>5K, Push and core</mat-card-title>
      <!--
      <button mat-flat-button class="submit-btn register-now-btn" color="primary" (click)="openVideo()">See example</button>
      -->

    </mat-card-header>

    <mat-card-content>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Bench Press 5x5</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>Isometric core</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

      <div class="exercise">

        <div class="exercise-info">
          <h2>5k easy run</h2>
        </div>

        <div class="exercise-more-info">
          <button mat-flat-button color="warn" (click)="openVideo()">Key info</button>
        </div>

      </div>

    </mat-card-content>

    <button mat-flat-button class="submit-btn completed" (click)="openVideo()">Completed</button>
    
  </mat-card>

</div>
