<div class="grid-container">
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card>
  <mat-card class="grid-item mat-elevation-z0 outline">testing</mat-card> 
</div>
