
.grid-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    height: 100%;
    min-height: 100%;
    position: relative;


    .grid-item  {
        flex: 21%; /* explanation below */
        margin: 5px;
        background-color: blue;
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        

        .exercise{
            display: flex;
            .exercise-info{
                flex: 1;
                text-align: left;
            }
            .exercise-more-info{
                flex: 0;
            }
        }

    }

    @media (max-width: 1024px) {  
        flex: 50%;
    }

    @media (max-width: 768px) {  
        flex-direction: column;
    }

}

.completed{
    color:white;
    font-weight: bold;
    background-color: rgb(86, 172, 0);
}


mat-card-header{
    justify-content: center;
}

::ng-deep .mat-card{
    border-radius: 20px !important;
   }

