
.grid-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    height: 100%;
    min-height: 100%;
    position: relative;

    .header{
        flex: 1;
        text-align: right;
    }

    .grid-item  {
        flex: 1;
        margin: 5px;
        //background-color: blue;
        //border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);        

        .exercise{
            margin-top: 20px;
            display: flex;
            .exercise-info{
                flex: 1;
                text-align: left;
            }
            .exercise-more-info{
                flex: 0;
            }
        }

    }

    mat-card-title{
        margin-bottom: 30px;
    }

    @media (max-width: 1024px) {  
        flex: 100%;
    }

    @media (max-width: 768px) {  
        flex-direction: column;
    }

}

.completed{
    background-color: rgb(86, 172, 0);
    //border: rgb(86, 172, 0) 2px solid;
    margin: 10px;
}

mat-card-header{
    justify-content: center;
}

::ng-deep .mat-card{
    border: none;
}





