<div class="dashboard-container">

    <div class="dashboard-container-1">

        <div class="dashboard-container-1-profile">
            <button class="settings-btn" mat-icon-button>
                <mat-icon>settings</mat-icon>
              </button>
              
            <button mat-flat-button color="warn" (click)="logOut()">Logout </button>
            
        </div>

        <div class="dashboard-container-1-navigation">
            
        </div>

    </div>

    <div class="dashboard-container-2">
        <app-free-program></app-free-program>
    </div>

</div>