<div class="grid-container">
    <div class="header">
        <button mat-icon-button [mat-dialog-close]="true" class="heading-close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div  class="grid-item">

        <h1 style="font-weight: bold;">DAY {{sessionNumber + 1}}</h1>
        <mat-card-title>{{workoutType}}</mat-card-title>

        <div class="exercise">

            <div class="exercise-name">
                <h4 class="exercise-info">{{workoutInfo}}</h4>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-name">
                <h2 class="exercise-name-label">{{exerciseOne}}</h2>
            </div>

            <div class="exercise-info" *ngIf="sessionType === 1">
            <h2>Enter result</h2>
            </div>

            <div class="exercise-result" *ngIf="sessionType === 1">
                <input class="glowing-border" type="number" [(ngModel)]="fivekmRun" required>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="showVideo(exerciseOne)">{{demoExerciseOne}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-name">
                <h2 class="exercise-name-label">{{exerciseTwo}}</h2>
            </div>

            <div class="exercise-info" *ngIf="sessionType === 1">
            <h2>Enter result</h2>
            </div>

            <div class="exercise-result" *ngIf="sessionType === 1">
                <input class="glowing-border" type="number" [(ngModel)]="plank" required>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="showVideo(exerciseTwo)">{{demoExerciseTwo}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-name">
                <h2 class="exercise-name-label">{{exerciseThree}}</h2>
            </div>

            <div class="exercise-info" *ngIf="sessionType === 1">
            <h2>Enter result</h2>
            </div>

            <div class="exercise-result" *ngIf="sessionType === 1">
                <input class="glowing-border" type="number" [(ngModel)]="pressUps" required>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="showVideo(exerciseThree)">{{demoExerciseThree}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-name">
                <h2 class="exercise-name-label">{{exerciseFour}}</h2>
            </div>

            <div class="exercise-info" *ngIf="false">
            <h2>Enter result</h2>
            </div>

            <div class="exercise-result" *ngIf="false">
                <input class="glowing-border" type="number" [(ngModel)]="pressUps" required>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="showVideo(exerciseFour)">{{demoExerciseFour}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-name">
                <h2 class="exercise-name-label">{{exerciseFive}}</h2>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="showVideo(exerciseFive)">{{demoExerciseFive}}</button>
            </div>

        </div>

        <button mat-flat-button class="workout-btn completed" (click)="updateWorkout(sessionNumber, sessionType, true)">Completed</button>
        <button mat-flat-button class="workout-btn missed-session" color="warn" (click)="updateWorkout(sessionNumber, sessionType, false)">Missed</button>
        
    </div>
</div>