<div class="grid-container">
    <div class="header">
        <button mat-icon-button [mat-dialog-close]="true" class="heading-close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div  class="grid-item">

        <h1 style="font-weight: bold;">DAY {{sessionNumber}}</h1>
        <mat-card-title>{{workoutType}}</mat-card-title>

        <div class="exercise">

            <div class="exercise-info">
            <h2>{{exerciseOne}}</h2>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="squatDemo()">{{demoExerciseOne}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-info">
            <h2>{{exerciseTwo}}</h2>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="benchPressDemo()">{{demoExerciseTwo}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-info">
            <h2>{{exerciseThree}}</h2>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="openVideo()">{{demoExerciseThree}}</button>
            </div>

        </div>

        <div class="exercise">

            <div class="exercise-info">
            <h2>{{exerciseFour}}</h2>
            </div>

            <div class="exercise-more-info">
            <button mat-flat-button color="primary" (click)="openVideo()">{{demoExerciseFour}}</button>
            </div>

        </div>

        <button mat-flat-button class="workout-btn completed" (click)="updateWorkout(sessionNumber, sessionType, true)">Completed</button>
        <button mat-flat-button class="workout-btn missed-session" color="warn" (click)="updateWorkout(sessionNumber, sessionType, false)">Missed</button>
        
    </div>
</div>