<div class="main-container" [@fade]>

    <div class="middle" [@fade]>

        <div class="middle-container-about-me-info-section" [@fade]>
            <h1>Are you ready to become a Hybrid athlete?</h1>
            <p>
                A hybrid athlete is a unique breed who can excel simultaneously in both strength and endurance.
                They love the runner high, the feeling of getting stronger and looking amazing.
                Create an account and start your free 28 day program to build your base endurance and strength before taking on the 90 day Advanced Hybrid Plan.
            </p>

            <button class="submit-btn" mat-raised-button color="primary" (click)="settingsPopUp()">Create an account</button>
        </div>

        <div class="middle-container-2" [@fade]>
            
        </div>

    </div>
    

</div>
