<div class="main-container">

    <div class="nav-bar">
        <mat-tab-group class="remove-border-bottom" mat-align-tabs="center" #tabGroup (selectedTabChange)="onTabChange($event)" [selectedIndex]="getSelectedIndex()">
            
            <mat-tab *ngIf="true" label="tab1">
                <ng-template mat-tab-label>
                    Free Program Stats
                </ng-template>
            </mat-tab>

            <mat-tab *ngIf="true" label="tab2">
                <ng-template mat-tab-label>
                    Advanced Program Stats
                </ng-template>
            </mat-tab>

          </mat-tab-group>
    </div>

    <div class="top">

        <div class="graph-one">
             <h1>Sessions completed, missed or open</h1> 
             <canvas class="barChartSize" id="horizontalBar"></canvas> 
        </div>

        <div class="graph-two">
             <h1>Types of sessions</h1>
             <canvas class="barChartSize" id="barChart"></canvas> 
        </div>

    </div>

    <div class="bottom">

        <div class="graph-three">
            
             <h1>Pre and post 28 day program results</h1>

            <div class="results">
                <h2 class="pre-result" *ngIf="startDateOfProgram != null">Start date: {{startDateOfProgram | date}}</h2>
                <mat-icon class="arrow-icon"></mat-icon>
                <h2 class="post-result"  *ngIf="endDateOfProgram != null">End date: {{endDateOfProgram | date}}</h2>
            </div>

            <div class="results">
                <h2 class="pre-result" *ngIf="preFiveKTime != null">Pre 5k time: {{preFiveKTime}}</h2>
                <mat-icon class="arrow-icon" *ngIf="postFiveKtime != null">arrow_right_alt</mat-icon>
                <h2 class="post-result" *ngIf="postFiveKtime != null">Pre 5k time: {{postFiveKtime}}</h2>
            </div>

            <div class="results">
                <h2 class="pre-result" *ngIf="prePressUpCount != null">Pre press up count: {{prePressUpCount}}</h2>
                <mat-icon class="arrow-icon" *ngIf="postPressUpCount != null">arrow_right_alt</mat-icon>
                <h2 class="post-result" *ngIf="postPressUpCount != null">Post press up count: {{postPressUpCount}}</h2>
            </div>

            <div class="results">
                <h2 class="pre-result" *ngIf="prePlankTime != null">Pre plank time: {{prePlankTime}}</h2>
                <mat-icon class="arrow-icon" *ngIf="postPlankTime != null">arrow_right_alt</mat-icon>
                <h2 class="post-result" *ngIf="postPlankTime != null">Post plank time: {{postPlankTime}}</h2>
            </div> 
            
            
        </div>

        <div class="graph-four">

        </div>

    </div>

</div>