
.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;

    h1{
        font-weight: bold;
    }

    h2{
        color: white;
    }

    .top{
        flex: 1;
        display: flex;

        .barChartSize{
            position: relative;
            max-height: 100vh;
            max-width: 65vh;
            margin: 0 auto;
        }

        .graph-one{
            flex: 1;
            text-align: center;
        }

        .graph-two{
            flex: 1;
            margin-top: 10px;
            margin-right: 30px;
            text-align: center;
        }

        @media (max-width: 1024px) { 
            flex-direction: column;

            .graph-one{
                flex: 1;
                margin-top: 10px;
                margin-right: 10px;
                margin-left: 10px;
            }
    
            .graph-two{
                flex: 1;
                margin-top: 10px;
                margin-right: 10px;
                margin-left: 10px;
            }

            .barChartSize{
                position: relative;
                max-height: 100vh;
                max-width: 100vh;
            }
        }
    }

    .bottom{
        flex: 1;
        display: flex;
        margin-top: 10px;

        .graph-three{
            flex: 1;
            text-align: center;

            .results{
                display: flex;
                justify-content: center;
                margin-left: 10px;
                margin-right: 10px;

                .arrow-icon{
                    color: rgb(44, 209, 44);
                    font-weight: bold;
                    margin-top: 5px;
                    margin-right: 10px;
                    margin-left: 10px;
                    justify-content: center;
                    size: 80px;
                }
    
                .post-result{
    
                }

            }

        }

        .graph-four{
            flex: 0;
        }

    }

}

// .main-container{
//     display: flex;
//     flex-direction: column;

//     h1{
//         text-decoration: underline;
//     }

//     h2{
//         color: white;
//     }
    

//     .top{
//         flex: 1;
//         display: flex;
//         margin-top: 20px;

//         .graph-one{
//             flex: 1;
//             text-align: center;
//         }

//         .graph-two{
//             flex: 1;
//             text-align: center;
//             .results{
//                 display: flex;
//                 justify-content: center;
//                 .pre-result{
                    
//                 }

//                 .arrow-icon{
//                     color: rgb(44, 209, 44);
//                     font-weight: bold;
//                     margin-top: 5px;
//                     margin-right: 10px;
//                     margin-left: 10px;
//                     justify-content: center;
//                     size: 80px;
//                 }
    
//                 .post-result{
    
//                 }

//             }
           
//         }

//     }


//     .bottom{
//         flex: 1;
//         display: flex;
//         background-color: indigo;
//         text-align: center;

//         .graph-three{
//             flex: 1;
//         }

//     }

// }