.main-container{
    display: flex;
    flex-direction: column;

    h2{
        color: white;
    }
    

    .top{
        flex: 1;
        display: flex;

        .graph-one{
            flex: 1;
            text-align: center;
        }

        .graph-two{
            flex: 1;
            text-align: center;
            .results{
                display: flex;
                justify-content: center;
                .pre-result{
                    
                }

                .arrow-icon{
                    color: rgb(44, 209, 44);
                    font-weight: bold;
                    margin-top: 5px;
                    margin-right: 10px;
                    margin-left: 10px;
                    justify-content: center;
                    size: 80px;
                }
    
                .post-result{
    
                }

            }
           
        }

    }


    .bottom{
        flex: 1;
        display: flex;

        .graph-three{
            flex: 1;
        }

        .graph-four{
            flex: 1;
        }

    }

}